ol li{
    background-color: yellow;
    
}
.lista {
    color: green;
}
.impar{
    text-transform: capitalize;
}
h1, h3{
   color: red;
}
.fonte{
   border: 1px solid black;
   font-size: 40px;
}
li,{
    font-size: 20px;    
}
li em{
    font-weight: bold;
}
#linguagens li:not(:nth-child(n + 4)) {
    color: blue;
}       

.rosa{
    background-color: pink;
}
#aliados li a:hover{
font-weight: bold;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}