body{
    font-family: fantasy;
    color:rgb(3, 174, 213)
}
#oculos{
    width: 82px;
    position: absolute;
    left: 90px;
    top: 82px;
    z-index: 3;
}
#nicolas{
   width: 200px;
   position: absolute;
   top: 13px;
   left: 30px;
   z-index: 2;
}
#praia{
    width: 400px;
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 1;
}

h1{
    position: absolute;
    z-index: 5px;
    left: 30px;
}

#song{
    position: absolute;
    z-index: 5px;
    top: 300px;
}
.eu{
    width: 40px;
    float: left;
    margin-right: 10px
    ;
}